{% extends 'base.html.twig' %}

{% block title %}Nouvelle societe{% endblock %}



{% block body %}
    <div class="d-flex justify-content-between align-items-center">
        <h3>Nouvelle societe </h3>
        <span>
    <a href="{{ path('societe_index') }}">liste des societe</a></span>
    </div>

    {{ form_start(form_societe) }}
    {{ form_row(form_societe.nom) }}
    {{ form_row(form_societe.siren) }}
    {{ form_row(form_societe.villeImmatriculation) }}
    {{ form_row(form_societe.capital) }}
    {{ form_row(form_societe.formJuridique) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form_societe) }}


{% endblock %}




